{{#each user}}
<div class="user-name">
    <a href="/counter/{{this.first_name}}">{{this.first_name}}</a>
</div>
{{/each}}

<form class="sm-spacer" action="/" method="get">
    <button id="homeBtn"  class="appBtn">Home</button>
</form>