{{#each user}}
<div class="user-name">
    <a href="/counter/{{this}}">{{this}}</a>
</div>
{{/each}}

<form class="sm-spacer" action="/" method="get">
    <button id="homeBtn"  class="appBtn">Home</button>
</form>