<h2>Greetings App</h2>

{{#if messages.info}}
<div class="flash-box">
  <div class="entry">
    <h3> {{messages.info}}</h3>
  </div>
</div>
{{/if}}

<form action="/greetings" method="post">
  <input type="text" name="first_name" id="inputElement" placeholder="Enter your name">
  <div class="label-radio-container sm-spacer">
    <label>
      <input type="radio" name="selector" value="english">
      English
    </label>
    <label>
      <input type="radio" name="selector" value="afrikaans">
      Afrikaans
    </label>
    <label>
      <input type="radio" name="selector" value="french">
      French
    </label>
  </div>
  <button id="greetButton" class="appBtn sm-spacer">Greet</button>
</form>

<h1 class="counter">{{counter}}</h1>


<div>
  <h3>{{greeting}}</h3>
</div>



<form action="/reset" method="post">
  <button id="resetButton" class="appBtn">Reset</button>
</form>

<form class="sm-spacer" action="/greeted" method="get">
  <button id="greetedBtn" class="appBtn">Show Greeted</button>
</form>