@import url('https://fonts.googleapis.com/css2?family=Gayathri&display=swap');

.angled-gradient {
    background: linear-gradient(0deg, #8789c0, #0ad3ff);
    background-repeat: no-repeat;
    height: 100%;
}

html {
    text-align: center;
    font-family: 'Gayathri', sans-serif;
}

#inputElement {
    text-align: center;
    border: none;
    height: 50px;
    width: 200px;
    border-radius: 1em;
    background-color: aliceblue;
}

.label-radio-container {

    padding: 10px;
}

.big-box {
    height: 650px;
}

.user-name {
    float: left;
    margin: 10px;
    padding: 8px;
    background-color: ghostwhite;
    width: 100px;
    border-radius: 1em;
}

.entry {
    width: 60%;
    margin: 0 auto;

    color: red;
}

.flash-box {
    margin: 15px;
}

.sm-spacer {
    margin-top: 15px;

}


.appBtn {
    text-align: center;
    border: none;
    height: 30px;
    width: 150px;
    border-radius: 1em;
    background-color: aliceblue;
}

.appBtn:hover {
    background-color: #3e8e41;
    color: white;
}

.buttons-box {
    margin-top: 30px;
}

.clearfix {

    overflow: auto;
}